/* (C)2020 Originalist Media */
* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	border: none;
	box-sizing: border-box;
	color: #3a3a3a;
	line-height: 1;
	/*font-family: 'Xanh Mono', monospace;*/
	font-family: 'Playfair Display', serif;
}

header {
	background-color: #d1d1d1;
	box-shadow: 0px 0px 3px 0px #8f8f8f;
}

header h1 {
	padding: 10px 32px;
	font-size: 62px;
	width: 600px;
	margin: 0px 50px;
	background-color: white;
}

header .banner {
	width: 100%;
}

nav ul li {
	display: inline-block;
	width: 25%;
	text-align: center;
}

nav ul li a {
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 15px 0px;
	background-color: #656565;
	color: #fff;
	font-weight: bold;
	margin-top: 1px;
	font-family: Arial;
}

nav ul li a:hover {
	color: #656565;
	background-color: #fff;
}

.articles-center-container, .links-center-container, .misc-center-container {
	float: left;
}

.articles-center-container, .links-center-container {
	width: 38%;
}

.misc-center-container {
	width: 24%;
}

.articles-container, .links-container, .misc-container {
	margin: auto;
	border-radius: 3px;	
}

.article {
	border: 2px solid #dddddd;
	border-radius: 5px;
	margin: 12px 12px 15px 12px;
}

.article h2 {
	font-size: 32px;
	margin-bottom: 10px;
	/*text-align: center;
	background-color: #3a3a3a;
	color: white;*/
	padding: 15px 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
}

.header-separator {
	background-color: #dddddd;
	height: 1px;
	width: 97%;
	margin: auto;	
}

.article-body {
	padding: 12px;
}

.article-body p {
	padding: 5px;
	font-family: 'Playfair Display', serif;
}

.article-body img {
	width: 528px;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

#background {
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: center top;
	background-size: 100% 100%;
}

footer {
	margin-top: 200px;
	text-align: center;
}

.clearfix:after {
	display: table;
	clear: both;
	content: '';
}

@media all and (max-width: 1600px) {
	.article-body img {
		width: 380px;
	}		
	
}

@media all and (max-width: 1440px) {
	.article {
		margin: 12px 5px 15px 5px;		
	}
	.article-body img {
		width: 320px;
	}
	.article h2 {
		font-size: 28px;
	}	
}

@media all and (max-width: 992px) {
	.misc-center-container {
		clear: both;
		width: 100%;
	}
	.articles-center-container, .links-center-container {
		width: 50%;
	}
	
	.article h2 {
		font-size: 26px;
	}
}

@media all and (max-width: 768px) {
	* {
		font-size: 14px;
	}
	.article h2 {
		font-size: 24px;
	}	
	.article-body img {
		width: 268px;
	}	
}

@media all and (max-width: 680px) {
	.articles-center-container, .links-center-container {
		clear: both;
		width: 100%;
	}
	.article-body img {
		width: 320px;
	}
	.article {
		margin: 2px;
	}
	* {
		font-size: 16px;
	}
	.article h2 {
		font-size: 28px;
	}		
}

@media all and (max-width: 360px) {
	.article-body img {
		width: 240px;
	}
	* {
		font-size: 14px;
	}
	.article h2 {
		font-size: 24px;
	}		
}